<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel = "stylesheet" href="../public/css/styles.css">
    <title>Link CSS to HTML</title>
</head>
<body>
// En esta parte van a escribir código Rocío y Lucas

    <!-- no se si productos va con otra etiqueta(ver)-->
    <ul><h4> Productos:</h4>
        <li>Pcs</li>
        <li>Componentes</li>
        <li>Periféricos</li>
        <li>Notebooks</li>
        <li>Monitores</li>

    </ul>
<!---imágenes con link??-->

    <h4>Ofertas especiales</h4>
    <img src="public/images/img_monitor.jpg" alt="imagen de monitor">

    <h4> Mas vendidos</h4>
</body>
<footer>
     // En esta parte escribe Javier   
    </footer>
</body>
</html>
