<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel = "stylesheet" href="css/styles.css">
    <title>Link CSS to HTML</title>
</head>

<header>
    <div>
    <img class="logo" src="images/Logo_G3.jpg" alt="Logo"/>
    </div>
    <div>
        <input class="buscador" type="text" placeholder="Buscar productos">
    </div>
    <div>
        <button class="login">Ingresar</button><img class ="loginimage" src="images/login.png" alt="login">
    </div>
    <div>
        <img class = "carrito de busqueda" src="images/carrito.png" alt="Carrito">
    </div>
    </header>

<body>
<!--En esta parte van a escribir código Rocío y Lucas--> 

<nav>
    <div class="nav productos">
     
        <ul><h4> Productos:</h4>
          <li>Pcs</li>
          <li> Componentes</li>
          <li>Periféricos</li>
          <li>Notebooks</li>
          <li>Monitores</li>

       </ul>
     
    </div>
</nav>

  
<!---imágenes -->

      
         <div class="ofertas_especiales"> <!--para que aparezcan las cuatro ordenadas-->
            <h4>Ofertas especiales</h4>
            <img src="images/img_monitor.jpg" alt="imagen de monitor1">
            <img src="images/img_monitor.jpg" alt="imagen de monitor2"> 
        
            <img src="images/img_monitor.jpg" alt="imagen de monitor3">
            <img src="images/img_monitor.jpg" alt="imagen de monitor4">
         </div>
         
        
        
    


    <h4> Mas vendidos</h4>

    <div class="linea_mas_vendidos"> 
        <section class="linea_de_mas_vendidos"></section>
       <img src="images/img_monitor.jpg" alt="imagen de monitor5">
       <img src="images/img_monitor.jpg" alt="imagen de monitor6">
       <img src="images/img_monitor.jpg" alt="imagen de monitor7">
</div>
</body>

<footer class="pie">
    <!--En esta parte escribe Javier-->
     <div class="header">
        <div class="logo_g3">
            <img src="images/Logo_G3.jpg" alt="logo de G3">
            <p>Hardware</p>
        </div>
        <div class="redes">
            <span><img src="images/logo_facebook.png" alt="logo de facebook"></span>
            <span><img src="images/logo_instagram.png" alt="logo de instagram"></span>
            <span><img src="images/logo_twitter.png" alt="logo de twitter"></span>
        </div>
     </div>
     <hr>
     <div class="section">
        <div>
            <h5>Nuestra Empresa</h5>
        </div>
        <div>
            <h5>Contactanos</h5>
        </div>
        <div>
            <h5>Preguntas Frecuentes</h5>
        </div>
        <div>
            <h5>Términos y Condiciones</h5>
        </div>
     </div>
     <div class="derechos">
        <p>G3 Hardware 2022 - Todos los Derechos Reservados</p>
     </div>   
    </footer>
</body>
</html>
