*{
    margin: 10;
    padding: 10;
    box-sizing: border-box;
} 

/* HEADER */

header {
background-color: #EAC926;
}
.logo {
    width: 10vw;
    padding: 15px;
    align-content: center;
}
.contenedor_productos {
    background-color: blue;
    display:flex
}
/* Barra de busqueda */

.buscador {
    display: flex;
    align-content: flex-start;
    font-size: 10px;
    width: 35vw;
    border-radius: 0.3em;
    height: 23px;
}

/* Carrito */



/*login*/



/*body */
/*OFERTAS ESPECIALES*/
.contenedor_productos{
    background-color: rgb(105, 141, 65);
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.linea1{/* imagenes alineadas porque? no hay porque*/
    padding: 30px;
    object-fit: scale-down;
    object-fit: scale-down;
    display: block;
    margin-left: 10%;
    margin-right: auto;

}

img {/*espacio entre las imagenes*/
    width: 40%;
    position:relative;
    margin: 10px;
    padding: 10px;
}

h4{
    background-color: rgb(105, 141, 65);
    margin: 15px;
    text-align: center;
}

/*Mas Vendidos*/
.linea_mas_vendidos{
    background-color: rgb(172, 238, 96);
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px
    
}


/*NAv*/

