*{
    margin: 10;
    padding: 10;
    box-sizing: border-box;
} 

/* HEADER */

header {
    background-color: #EAC926;
    height: 196px;
}
/*logo*/

.logo {
    display: flex;
    width: 12vw;
    padding: 15px;
    align-content: center;
}

/* Barra de busqueda */

.buscador {
    font-size: 16px;
    width: 49vw;
    position: relative;
    border-radius: 0.3em;
    height: 42px;
    left: 242px;
    top: -93px;
}

/*login*/

.login{
    font-size: 18px;
    position: relative;
    height: 1261px;
    left: 1499px;
    top: -746px;
    border: none;
    background: none;
}

/*register*/

.register{
    font-size: 18px;
    position: relative;
    height: 1261px;
    left: 1356px;
    top: -2116px;
    border: none;
    background: none;
}

/*imagen register*/

.registerimage{
    width: 64px;
    padding: 15px;
    position: relative;
    left: 1334px;
    top: -2085px;
}

/*imagen login*/

.loginimage{
    width: 64px;
    padding: 15px;
    position: relative;
    left: 1473px;
    top: -710px;
}

/* Carrito */

.carrito{
    width: 86px;
    padding: 15px;
    position: relative;
    left: 1639px;
    top: -1429px;
}

/*body */

.contenedor_nav{
    background-color: greenyellow;
    display: flex;
    flex-direction: row;
    margin: 15px;
}

/*OFERTAS ESPECIALES*/

.contenedor_productos{
    background-color: rgb(105, 141, 65);
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.linea1{/* imagenes alineadas porque? no hay porque*/

    padding: 30px;
    object-fit: scale-down;
    object-fit: scale-down;
    display: block;
    margin-left: 10%;
    margin-right: auto;

}

img {/*espacio entre las imagenes*/

    width: 40%;
    position:relative;
    margin: 10px;
    padding: 10px;
}

h4{
    background-color: rgb(105, 141, 65);
    margin: 15px;
    text-align: center;
}

/*Mas Vendidos*/

.linea_mas_vendidos{
    background-color: rgb(172, 238, 96);
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px
    
}

/*NAv*/

